svg path{
    fill: #a4ced2;
    stroke: #fff;
    stroke-width: 1px;
    transition: fill 0.3s;
}
svg path:hover{
    fill: #151ea2;
}

svg path #DE-RP{
    fill: #15a236;
}
path #DE-RP:hover{
    fill: #ac1142;
}